<body>
    <td><%= item.name %></td>

    <td><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-remove' %></td>
    <div><%= distance_of_time_in_words(item.created_at, Time.now)%> ago</div>
</body>
<br>
